<div id="<%= dom_id engineer %>">
  <p>
    <strong>Name:</strong>
    <%= engineer.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= engineer.age %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= engineer.position %>
  </p>

</div>
